<p id="notice"><%= notice %></p>

<p>
  <b>Quiniela date:</b>
  <%= @quiniela.quiniela_date %>
</p>

<p>
  <b>Code:</b>
  <%= @quiniela.code %>
</p>

<p>
  <b>15 p:</b>
  <%= @quiniela.15_p %>
</p>

<p>
  <b>15 a:</b>
  <%= @quiniela.15_a %>
</p>

<p>
  <b>14 p:</b>
  <%= @quiniela.14_p %>
</p>

<p>
  <b>14 a:</b>
  <%= @quiniela.14_a %>
</p>

<p>
  <b>13 p:</b>
  <%= @quiniela.13_p %>
</p>

<p>
  <b>13 a:</b>
  <%= @quiniela.13_a %>
</p>

<p>
  <b>12 p:</b>
  <%= @quiniela.12_p %>
</p>

<p>
  <b>12 a:</b>
  <%= @quiniela.12_a %>
</p>

<p>
  <b>11 p:</b>
  <%= @quiniela.11_p %>
</p>

<p>
  <b>11 a:</b>
  <%= @quiniela.11_a %>
</p>

<p>
  <b>10 p:</b>
  <%= @quiniela.10_p %>
</p>

<p>
  <b>10 a:</b>
  <%= @quiniela.10_a %>
</p>

<p>
  <b>Bote:</b>
  <%= @quiniela.bote %>
</p>


<%= link_to 'Edit', edit_quiniela_path(@quiniela) %> |
<%= link_to 'Back', quinielas_path %>
